.footer {
    padding: 5px 0;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px;

    @media (min-width: 768px) {
        flex-wrap: nowrap;
    }
}


.footer__block {
    margin: 5px;
    width: 100%;
    height: 150px;

    & > *:not(:last-child) {
        margin-bottom: 10px;
    }

    .darkgray {
        height: 70px;
    }
}