
.header {
    width: 100%;
    padding: 10px 0;
    display: flex;

    & > *:not(:last-child) {
        margin-right: 10px;
    }

    div:last-child {
        width: 50%;
    }
}

.header__block {
    flex-grow: 1;
}

@media (max-width: 768px) {

    .header {
        div:first-of-type {
            margin-right: 0;
        }

        flex-wrap: wrap;

        div:last-child {
            width: 100%;
            height: 50px;
            margin-top: 10px;
        }
    }
}