.popup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    display: none;
    justify-content: center;
    align-items: center;
}

.popup__content {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #e4e2e2;
    background-color: #5f5757;
    color: white;
    margin: 50px;

    @media (min-width: 768px) {
        flex-wrap: nowrap
    }

    img {
        width: 100%;
        height: 100%;
        margin: 5px;
        border-radius: 5px;
    }

    p {
        margin: 5px;
    }
}

.popup__close {
    position: absolute;
    right: -35px;
    top: 0;
    width: 30px;
    height: 30px;
    cursor: pointer;

    &:before, &:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 30px;
        width: 2px;
        background-color: white;
    }

    &:before {
        transform: rotate(45deg);
    }

    &:after {
        transform: rotate(-45deg);
    }
}

